soap-server/src/main/resources/xsd/employee-service.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://kgonzaga.com/soap/employee-web-service"
           targetNamespace="http://kgonzaga.com/soap/employee-web-service"
           elementFormDefault="qualified">

    <!-- ===============================
         Model Employee
    ================================= -->
    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="job" type="xs:string"/>
            <xs:element name="salary" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ===============================
         Create Employee
    ================================= -->
    <xs:element name="createEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===============================
         Get Employee (by ID)
    ================================= -->
    <xs:element name="getEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===============================
         Get All Employees
    ================================= -->
    <xs:element name="getAllEmployeesRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllEmployeesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employees" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===============================
         Update Employee
    ================================= -->
    <xs:element name="updateEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===============================
         Delete Employee
    ================================= -->
    <xs:element name="deleteEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
